/* Placeholder for future global styles. Most styles are currently in Home.html */
/* This file can be expanded to extract common styles for better maintainability */

* {
    box-sizing: border-box;
}
